.popup__subtitle {
    width: 360px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-bottom: -20px;
    margin-left: 36px;
    outline: 0px solid transparent;
    border: 0px;
}

.popup__subtitle:focus {
    box-shadow: 1px 0px 7px 1px rgb(0, 166, 255);
    border: solid 2px rgb(0, 166, 255);
  }

@media screen and (max-width: 767px) {
    .popup__subtitle {
        width: 240px;
        margin-top: 64px;
        margin-left: 22px;
    }
}

