.Elements__image {
    max-width: 22px;
    min-height: 19px;
    margin-top: 5px;
    margin-right: 2px;
}

.Elements__image:hover {
    opacity: 0.5;
}

.Elements__image:active {
    background-color: #000000;
}