.popup__button {
    width: 358px;
    background: #000000;
    margin-left: 36px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 37px;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__button {
        width: 238px;
        margin-left: 22px;
        margin-top: 40px;
        }
}

