.Header {
    max-width: 880px;
    min-height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 45px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .Header {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .Header {
        max-width: 320px;
        min-height: 57px;
        margin-top: 28px;
    }
}
