.header {
    min-width: 880px;
    margin-top: 45px;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        min-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        min-width: 320px;
        margin-top: 28px;
        padding-bottom: 27px;
    }
}
