.popup__craft {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: -5px;
  margin-left: 36px;
}

@media screen and (max-width: 767px) {
  .popup__craft {
      margin-top: 28px;
      margin-left: 22px;
  }
}