.footer {
    min-width: 880px;
    margin-top: 70px;
    margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        min-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        min-width: 282px;
        margin-top: 50px;
        margin-bottom: 36px;
    }
}